<style>
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
</style>
<% if logged_in? %>
    <script type="text/javascript">
        
        window.currentUser = {
            "id": <%= current_user.id %>,
            "username": "<%= current_user.username %>",
            "name": "<%= current_user.name%>",
            <% array = [] %>
            <% current_user.cart_products.each do |product|%>
                <% array.push(product.id)%>
            <%end%>
            "itemsincart": <%= array %>
        }
    </script>
    <script type="text/javascript">
        window.cart = '<%= image_url('amazon-cart.png') %>'
    </script>
    <script type="text/javascript">
        window.emptycart = '<%= image_url('EmptyCart.png') %>'
    </script>
    <script type="text/javascript">
        window.logo1 = '<%= image_url('Herozon_Basic.png') %>'
    </script>
    <script type="text/javascript">
        window.logo2 = '<%= image_url('logo.png') %>'
    </script>
    <script type="text/javascript">
        window.logo3 = '<%= image_url('logo2.png') %>'
    </script>
    <script type="text/javascript">
        window.pindrop = '<%= image_url('pindrop.png') %>'
    </script>
<%end%>


<main id="root">React is broken</main>