<!DOCTYPE html>
<html>
  <head>
    <title>Herozon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
        window.cart = '<%= image_url('amazon-cart.png') %>'
    </script>
    <script type="text/javascript">
        window.emptycart = '<%= image_url('EmptyCart.png') %>'
    </script>
    <script type="text/javascript">
        window.logo1 = '<%= image_url('Herozon_Basic.png') %>'
    </script>
    <script type="text/javascript">
        window.logo2 = '<%= image_url('logo.png') %>'
    </script>
    <script type="text/javascript">
        window.logo3 = '<%= image_url('logo2.png') %>'
    </script>
    <script type="text/javascript">
        window.pindrop = '<%= image_url('pindrop.png') %>'
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
